<p>Bienvenue username ! Voici ta bio trop cool : bio ! </p>
<P> Votre est nom est :</p><%= @users.username %>
<br>
<p>Votre mail : </p> <%= @users.email %>
<br>

<p> Voici votre bibliographie </p><%= @users.bio %>
