<p>Bienvenue username ! Voici ta bio trop cool : bio ! </p>
<P> Votre est nom est :</p> <%= @user.username %>
<br>
<p>Votre mail : </p> <%= @user.email %>
<br>
<p> Voici votre bibliographie </p><%= @user.bio %>
