<h2>Bienvenue <%= @users.username %> ! Voici ta fiche récap ! </h2>
<h3> Votre est nom est :</h3><%= @users.username %>
<br>
<h3>Votre mail : </h3> <%= @users.email %>
<br>

<h3> Voici votre bibliographie </h3><%= @users.bio %>
